@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: sofiapro;
  src: url('sofiapro-light.otf');
}

@font-face {
  font-family: convered;
  src: url('covered.ttf');
}

@font-face {
  font-family: calibre;
  src: url('Calibre-Semibold.ttf');
}

@font-face {
  font-family: sofiabold;
  src: url('sofiapro-extrabold.otf');
}

@font-face {
  font-family: sofiamedium;
  src: url('sofaipro-seminbold.otf');
}

.glass {
  /* From https://css.glass */
    background: rgba(255, 255, 255, 0.62);
    backdrop-filter: blur(6.9px);
    -webkit-backdrop-filter: blur(6.9px);
    border: 1px solid rgba(255, 255, 255, 0.5);
}

* {
  font-family: sofiapro;
  font-size: 1rem;
}

.toggle {
  position: relative;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  cursor: pointer;
  overflow: hidden;
}

.toggle span {
  position: absolute;
  width: 25px;
  height: 2px;
  background-color: black;
  border-radius: 2px;
  transition: 0.5s;
}

.toggle.active span {
  background-color: white;
}

.toggle span:nth-child(1){
  transform: translateY(-8px);
  width: 15px;
}

.toggle.active span:nth-child(1){
  transform: translateY(0px) rotate(45deg);
  width: 25px;
  transition-delay: 0.125s;
}

.toggle span:nth-child(2){
  transform: translateY(8px);
  width: 10px;
}

.toggle.active span:nth-child(2){
  transform: translateY(0px) rotate(315deg);
  width: 25px;
  transition-delay: 0.25s;
}

.toggle.active span:nth-child(3){
  transform: translateX(60px);
  width: 15px;
}

.navigasi {
  transform: translateX(-600px);
  transition: 0.5s;
}

.navigasi.active {
  transform: translateX(0px);
  transition: 0.5s;
}